*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:url(wall2.jpg) 10px center / cover;
}

.menu {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 100vh;
    background: #4c5353;
    box-shadow: 8px 0 0 #385a5a;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 1;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.conteudo {
    max-width: 700px;
    width: 100%;
    border: 2px solid black;
    padding: 30px 0px 30px 0px;
    backdrop-filter: blur(18px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
}

.menu:hover {
    width: 220px;
}

.list-item {
    color: #fafafa;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.list-item span {
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.submenu {
    display: none;
    flex-direction: column;
}

.sub-item {
    padding: 10px 0;
    text-align: center;
    background-color: #385a5a;
    cursor: pointer;
    margin: 15px 0px 15px 0px;
    font-size: 18px;
}

.menu:hover .submenu {
    display: flex;
}

.menu:hover .list-item.parent {
    background-color: #385a5a;
}

.menu .list-item .submenu {
    display: none;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #fafafa;
    width: 100%;
    padding: 10px 0;
}

.menu ul li a .title {
    display: none;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.menu:hover ul li a .title {
    display: block;
}

.menu ul li.active {
    background: #4c5353;
}

main{
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; 
}

.conteudo{
    border: 2px solid black;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 0px 30px 0px;
    backdrop-filter: blur(15px);
}

.conteudo h1{
    padding: 20px;
}

.conteudo label{
    font-size: 22px;
}

.conteudo input{
    margin-top: 10px;
    padding: 7px;
}

.conteudo button{
    margin-top: 20px;
    height: 40px;
    width: 90px;
}

.statusError{
    margin-top: 25px;
    color: red;
    font-size: 25px;
}

.statusSuccess{
    margin-top: 25px;
    color: greenyellow;
    font-size: 25px;
}