body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(wall2.jpg) center / cover;
}

.menu a.link-branco {
    color: white;
}

.botao{
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}

.botao button{
    height: 40px;
    font-size: 20px;
    padding: 5px;
}

.airplane-container {
    background-color: #000000ee;
    padding: 120px;
    border-radius: 200px 200px 200px 200px; 
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 30px;
}

.airplane {
    display: flex;
    flex-direction: row;
    align-items: center;
    perspective: 1000px;
    margin-left: -20px; 
}
.airplane-container h1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d1cdcd; 
    font-size: 40px; 
}

.seat {
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #c2bdbd;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.seat.special-seat {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
    transition: none;
}

.espaco {
    height: 50px; 
}

.seat-occupied {
    width: 30px;
    min-width: 32px;
    min-height: 32px;
    height: 30px;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    background-color: #ff6161;
    cursor: not-allowed;
    pointer-events: none; 
    transition: none; 
}
.seat.selected {
    background-color: #5cb85c;
    color: white;
}
.menu {
    position: fixed;
    top: 0;
    left: 28%;
    width: 40%;
    background-color: rgba(26, 24, 24, 0.884);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 30px;
    border-radius: 0px 0px 20px 20px;
    border-color: #000000;
    border: #000000;
}

.menu i:hover::before{
    content: attr(title);
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
.menu i{
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.home{
    cursor: pointer;
    z-index: 1;
}
.busca{
    cursor: pointer;
    z-index: 1;
}
.assentos{
    cursor: pointer;
    z-index: 1;
}
.engrenagem{
    cursor: pointer;
    z-index: 1;
}
.logo{
    font-size: 32px;
}