*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 450px;
    height: 72%;
    background: rgba(0, 0, 0, 0.76);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 26%;
    color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.box h1{
    margin-top: 4%;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box p{
    text-align: justify;
    font-size: 20px;
}
.icone-home {
    font-size: 40px;
    position: relative;
    top: -1%; 
    left: 50%;
    transform: translateX(-50%);
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 8%;
}
ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 95%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
}
.box li{
    display: inline-block;
    margin: 12px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
}
.menu {
    position: fixed;
    top: 0;
    width: 40%;
    background-color: rgba(26, 24, 24, 0.884);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 30px;
    border-radius: 0px 0px 20px 20px;
    border-color: #000000;
    border: #000000;
}
.menu i:hover::before{
    content: attr(title);
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
.menu i{
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.home{
    cursor: pointer;
    z-index: 1;
}
.busca{
    cursor: pointer;
    z-index: 1;
}
.assentos{
    cursor: pointer;
    z-index: 1;
}
.engrenagem{
    cursor: pointer;
    z-index: 1;
}
#debitoForm, #creditoForm {
    display: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url(wall2.jpg) 10px center / cover;
}

main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    max-width: 1100px;
    padding: 20px;
    margin: 30px 0px 30px 0px;
    backdrop-filter: blur(18px);
}

.conteudo{
    padding: 10px;
    margin: 10px;
}

.email{
    font-size: 28px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.email input{
    padding: 8px;
    height: 30px;
    width: 345px;
    margin-left: 10px;
}

.selecionarMetodo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selecionarMetodo label{
    font-size: 28px;
}

.selecionarMetodo select{
    font-size: 17px;
    width: 160px;
    height: 32px;
    margin-top: 5px;
    margin-left: 10px;
}

h1{
    display: block;
    margin-top: 30px;
    font-size: 50px;
}

.botaoVoltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botaoVoltar button{
    margin-top: 30px;
    height: 30px;
    width: auto;
    font-size: 15px;
    padding: 5px;
}


.statusError{
    color:red;
    font-size: 25px;
}

.statusSuccess{
    color: greenyellow;
    font-size: 25px;
}

hr{
    margin: 20px 0px 20px 0px;
    border: none;
    height: 2px; 
    background-color: black; 
    width: 100%;
}
/* Estilo Cartão de Credito */

.cartao label{
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

.cartao input{
    height: 28px;
    margin: 10px 0px 10px 10px;
    width: 100%;
    padding: 5px;
}

.cartao select{
    font-size: 17px;
    height: 32px;
    margin: 10px 0px 10px 10px;
    width: 225px;
}

.cartao div{
    display: flex;
    justify-content: center;
}

.data{
    width: 244px !important;
}

.botaoCartao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botaoCartao button{
    margin-top: 30px;
    height: 30px;
    width: auto;
    font-size: 15px;
    padding: 5px;
}

.cartao div p{
    margin-top: 25px;
    font-size: 22px;
}

/* Estilo Pix */

.pix div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pix p{
    font-size: 21px;
    margin: 20px 0px 30px 0px;
}

.pix a{
    margin-top: 30px;
}

/* Estilo Boleto */

.boleto div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boleto a{
    margin-top: 10px;
}